<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    <ion-button (click)="testCoolMethod()" >Test Cool Method</ion-button>
    <ion-button (click)="bindToZCKService()" >Bind with ZKC Printer</ion-button>
    <ion-button (click)="turnOnPrinter()" >Turn On Printer</ion-button>
    <ion-button (click)="getPrinterStatus()" >Get Printer Status</ion-button>
    <ion-button (click)="testPrinter()" >Test Printer</ion-button>
    <ion-button (click)="turnOffPrinter()" >Turn Off Printer</ion-button>
    <ion-button (click)="turnOnScanner()" >Turn On Scanner</ion-button>
    <ion-button (click)="turnOffScanner()" >Turn Off Scanner</ion-button>
  </div>
</ion-content>
